<!DOCTYPE html>
<html>

<head>
    <title>{{pageTitle}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/Fatema_Kotb.jpg">
        <p class="about-me-text">Hello! I'm a full-time computer engineering student and a part-time poet taking my first baby steps in full-stack development.</p>
        <p class="about-me-text">In this weather web application, I'm using "positionstack" as well as "weatherstack" to fetch the weather forecast for the given location.</p>
    </div>

    {{>footer}}
</body>

</html>